LAMBDA FUNCTION

In [ ]:
#1.Simple 1-line function

In [3]:
def double(x): #normal function
    return x*2
double(4) #function call

8

In [28]:
y=lambda x:x*2 #using lambda function to double te number
y(2)

4

In [30]:
def add(x,y): #function to add 2 numbers
    return x+y
add(2,3) #function call

5

In [29]:
y=lambda x,y:x+y #using lambda function
y(2,3) #calling lambda function

5

In [31]:
def mx(x,y): #function to ind the maximum of 2 numbers
    if x>y:
        return x #x is the maximum
    else:
        return y #y is the maximum
mx(5,6) #function call

6

In [32]:
x=lambda x,y : x if x>y else y #using lambda function to find the max
x(5,6)

6

ITERABLES

In [4]:
num=[1,2,3,4,5] #LIST IS ITERABLE
for i in num: #traversal
    print(i)

1
2
3
4
5

In [5]:
num=(1,2,3,4,5) #TUPLE IS ITERABLE
for i in num: #traversal
    print(i)

1
2
3
4
5

In [8]:
num={1:'a',2:'b',3:'c',4:'d',5:'e'} #DICTIONARY IS ITERABLE
for i in num: #traversal
    print(i) #PRINTING KEYS

1
2
3
4
5

In [10]:
NUM="REENASRI" #STRINGS IS ITERABLE
for i in NUM: #traversal
    print(i)

R
E
E
N
A
S
R
I

In [14]:
c=456789 #INTEGERS ARE NOT ITERABLE
for i in c: #traversal
    print(i)

TypeError: 'int' object is not iterable

Fixing the error that integers are not iterable

In [16]:
c=456789 #integer assignment
digits=[ int(d) for d in str(c)] #converting integer into strings and fetching character wise
print(digits) #it gives us a list of elements

[4, 5, 6, 7, 8, 9]

CHECKING IF A DATATYPE IS ITERABLE

In [15]:
num=[1,2,3,4,5] #LIST
print(dir(num)) #To check if the datatype suport__iter__

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

COLLECTIONS

In [17]:
names=['Ema','Tom','Hinton'] #list of strings
looper=names.__iter__() #collections __iter__
print(looper) #printing the elements in looper
print(type(names)) #displaying type of names
print(type(looper)) #displaying type of looper

<list_iterator object at 0x7603145736a0>
<class 'list'>
<class 'list_iterator'>

In [18]:
#__next__()
print(next(looper)) #accesing the elements one by one

Ema

In [19]:
print(next(looper)) #accesing the elements one by one (2)

Tom

In [20]:
print(next(looper)) #accesing the elements one by one (3)

Hinton

In [21]:
print(next(looper)) #accesing the elements one by one (4)

StopIteration:

#FIXING EXHAUSTIVE ERROR

In [22]:
looper=iter(names) #interating through elements through collections
while True:
    try:
        name=next(names) #raises an error because names are lists 
        print(name)
    except StopIteration: #handling exhaustive iteration error
        break

TypeError: 'list' object is not an iterator

In [23]:
#error fixation 
looper=iter(names) #interating through elements through collections
while True:
    try:
        name=next(looper) #fixing error with iterable object
        print(name)
    except StopIteration: #handling exhaustive iteration error
        break

Ema
Tom
Hinton

OBJECT OF INTREST

MAP FUNCTION

In [25]:
def square(x): #defining a function
    return x*x #returning the square of a number
numbers=[1,2,3,4,5] #list 
print(map(square,numbers)) #using map function to iterate through elements AND SUBJECT THEM TO FUNCTION

<map object at 0x760314579060>

In [26]:
print(list(map(square,numbers))) #to read the elements store in a list by map function

[1, 4, 9, 16, 25]

PART 5

In [27]:
numbers=[1,2,3,4,5] #list 
print(list(map(lambda x: x*x,numbers))) #using lambda function instead of square function

[1, 4, 9, 16, 25]

FILTER FUNCTION

In [37]:
print(list(filter(lambda x:x>3,numbers))) #using filter function , elements that satisfy the condition gets printed
#still similar to map function that traverse lements one by one , subjecting to function

[4, 5]

In [36]:
#write a function that accepts strings and returns the lowercase of it
def str(s):
    return s.lower() #Returning the lowercase
str("REENA") #passing string as an argument

'reena'

In [38]:
#create a list of 3 elements as names with lowercases convert them into uppercase but using map, lambda functions
names=["Ema","Tom","Hinton"] #lists
for i in names:
    i.upper()
print(names)
print(list(map(lambda x:x.lower(),names))) #using map, lambda functions

['Ema', 'Tom', 'Hinton']
['ema', 'tom', 'hinton']

REDUCE FUNCTION

In [39]:
from functools import reduce
numbers=[1,2,3,4,5] #lists
print(reduce(lambda x,y:x+y,numbers)) #reduce function cumulatively adds up 2 elements and performs function in a sequence

15

In [41]:
from functools import reduce
tokens=["All","is","well"] #lists of quotes
#use reduce function with lambda function to join words
#the lambda function combines 2 strings with space
quote=reduce(lambda combined_string,word: combined_string+ " "+word, tokens)
print(quote)

All is well

THEME: MAP,FILTER,REDUCE TOGETHER FORM A COMPLETE FUNCTIONABLE PIPELINE FOR TRANSFORMING,SELECTING AND AGGREGATING DATA.