## Lab- 14
## Reena Sri G
## Excel Continuation , Performing functions same as csv files

### Task-1 appending records into excel file

In [4]:
import pandas as pd

# Sample new data
new_data = pd.DataFrame({
    "ID": [3001, 3002],
    "Name": ["Person_3001", "Person_3002"],
    "Age": [29, 34],
    "Department": ["Finance", "IT"],
    "Salary": [75000, 82000],
    "Experience": [5, 7],
    "Joining_Date": pd.to_datetime(["2022-01-15", "2023-06-20"]),
    "Performance_Score": [8, 9]
})

# Append to existing file in a new sheet
with pd.ExcelWriter("input.xlsx", mode="a", engine="openpyxl") as writer:
    new_data.to_excel(writer, sheet_name="Appended_Datas", index=False)
    print("Successfully appended")

Successfully appended

## Task-2 Read Excel Chunk-by-chunk

In [5]:
chunksize = 500  # read 500 rows at a time
for chunk in pd.read_excel("input.xlsx", chunksize=chunksize):
    print("Chunk shape:", chunk.shape)
    # Example: process the chunk
    print(chunk.head(2))

TypeError: read_excel() got an unexpected keyword argument 'chunksize'

## Notes:
pd.read_excel() does not support chunksize.
That’s only for pd.read_csv().

For large Excel files, you have alternatives: eitheir to convert excel into csv or Use openpyxl (row by row streaming)

In [7]:
# Option 1: Use openpyxl (row by row streaming)
from openpyxl import load_workbook

wb = load_workbook("input.xlsx", read_only=True)
ws = wb.active

chunk_size = 500
rows = [] # we create a list to store the records

for i, row in enumerate(ws.iter_rows(values_only=True), start=1):
    rows.append(row) # accessing each record and appending so that we can work with them

    if i % chunk_size == 0:
        df = pd.DataFrame(rows[1:], columns=rows[0])  # first row as header
        print(f"Processed chunk with {len(df)} rows")
        print(df.head(2))
        rows = []  # reset

Processed chunk with 499 rows
   ID      Name  Age Department  Salary  Experience Joining_Date  \
0   1  Person_1   53    Finance  116904           5   2010-01-01
1   2  Person_2   26         IT  107729           6   2010-01-02

   Performance_Score
0                  8
1                  6
Processed chunk with 499 rows
   500  Person_500  56  Marketing   55330  10 2011-05-15 00:00:00  8
0  501  Person_501  43  Marketing   32291  29          2011-05-16  8
1  502  Person_502  49    Finance  116068  18          2011-05-17  4
Processed chunk with 499 rows
   1000  Person_1000  57  Marketing  111940  5 2012-09-26 00:00:00  1
0  1001  Person_1001  34  Marketing  114387  3          2012-09-27  4
1  1002  Person_1002  55      Sales  113521  6          2012-09-28  6
Processed chunk with 499 rows
   1500  Person_1500  23 Sales  44817  28 2014-02-08 00:00:00  9
0  1501  Person_1501  55    HR  73672  23          2014-02-09  4
1  1502  Person_1502  48    HR  41185  10          2014-02-10  7
Processed chunk with 499 rows
   2000  Person_2000  56  Finance  91567  22 2015-06-23 00:00:00  8
0  2001  Person_2001  33  Finance  76869  11          2015-06-24  8
1  2002  Person_2002  21       IT  44446  14          2015-06-25  7
Processed chunk with 499 rows
   2500  Person_2500  22         IT   48925   4 2016-11-04 00:00:00  4
0  2501  Person_2501  25      Sales  109405   2          2016-11-05  9
1  2502  Person_2502  30  Marketing  118452  18          2016-11-06  6

In [8]:
#Option 2: Convert Excel → CSV → Chunk Read

df = pd.read_excel("input.xlsx")
df.to_csv("input.csv", index=False)

# Now read in chunks
chunksize = 500
for chunk in pd.read_csv("input.csv", chunksize=chunksize):
    print("Chunk shape:", chunk.shape)
    print(chunk.head(2))

Chunk shape: (500, 8)
   ID      Name  Age Department  Salary  Experience Joining_Date  \
0   1  Person_1   53    Finance  116904           5   2010-01-01
1   2  Person_2   26         IT  107729           6   2010-01-02

   Performance_Score
0                  8
1                  6
Chunk shape: (500, 8)
      ID        Name  Age Department  Salary  Experience Joining_Date  \
500  501  Person_501   43  Marketing   32291          29   2011-05-16
501  502  Person_502   49    Finance  116068          18   2011-05-17

     Performance_Score
500                  8
501                  4
Chunk shape: (500, 8)
        ID         Name  Age Department  Salary  Experience Joining_Date  \
1000  1001  Person_1001   34  Marketing  114387           3   2012-09-27
1001  1002  Person_1002   55      Sales  113521           6   2012-09-28

      Performance_Score
1000                  4
1001                  6
Chunk shape: (500, 8)
        ID         Name  Age Department  Salary  Experience Joining_Date  \
1500  1501  Person_1501   55         HR   73672          23   2014-02-09
1501  1502  Person_1502   48         HR   41185          10   2014-02-10

      Performance_Score
1500                  4
1501                  7
Chunk shape: (500, 8)
        ID         Name  Age Department  Salary  Experience Joining_Date  \
2000  2001  Person_2001   33    Finance   76869          11   2015-06-24
2001  2002  Person_2002   21         IT   44446          14   2015-06-25

      Performance_Score
2000                  8
2001                  7
Chunk shape: (500, 8)
        ID         Name  Age Department  Salary  Experience Joining_Date  \
2500  2501  Person_2501   25      Sales  109405           2   2016-11-05
2501  2502  Person_2502   30  Marketing  118452          18   2016-11-06

      Performance_Score
2500                  9
2501                  6

## Task-3 Write Numeric Data into Excel

In [6]:
## Task-3 Write Numeric Data into Excel
import numpy as np

numeric_data = pd.DataFrame({
    "Random_Numbers": np.random.randint(100, 999, 10),
    "Floats": np.random.random(10) * 100
})

with pd.ExcelWriter("numeric_text_data.xlsx", engine="openpyxl") as writer:
    numeric_data.to_excel(writer, sheet_name="Numeric_Data", index=False)
    print("Successfully written numeric data into excel sheet")

Successfully written numeric data into excel sheet

## Task-4 Write Text Data into Excel

In [9]:
## Task-4 Write Text Data into Excel
text_data = pd.DataFrame({
    "Names": ["Alice", "Bob", "Charlie", "David", "Eve"], # writing text data
    "Departments": ["HR", "IT", "Finance", "Sales", "Marketing"]
})

with pd.ExcelWriter("numeric_text_data.xlsx", mode="a", engine="openpyxl") as writer: # using padas to write into excel
    text_data.to_excel(writer, sheet_name="Text_Data", index=False)
    print("Successfully written text data into excel sheet")

Successfully written text data into excel sheet

## Task-5 Search for a value in Excel

In [1]:
import pandas as pd
df = pd.read_excel("input.xlsx")
#Find all rows where Department = "IT"
result = df[df["Department"] == "IT"] #Look for a specific value in a column
print(result)

        ID         Name  Age Department  Salary  Experience Joining_Date  \
1        2     Person_2   26         IT  107729           6   2010-01-02
6        7     Person_7   41         IT   31040           6   2010-01-07
21      22    Person_22   28         IT   87250          17   2010-01-22
24      25    Person_25   58         IT   92271          29   2010-01-25
36      37    Person_37   46         IT  106021           5   2010-02-06
...    ...          ...  ...        ...     ...         ...          ...
2973  2974  Person_2974   57         IT   37789          21   2018-02-21
2977  2978  Person_2978   42         IT   53029           7   2018-02-25
2984  2985  Person_2985   43         IT   62781           6   2018-03-04
2992  2993  Person_2993   56         IT   76055          26   2018-03-12
2997  2998  Person_2998   22         IT   89901          28   2018-03-17

      Performance_Score
1                     6
6                     1
21                    7
24                    1
36                    2
...                 ...
2973                  9
2977                  5
2984                  9
2992                  1
2997                  9

[569 rows x 8 columns]

In [2]:
#Look for a value across all columns
mask = df.apply(lambda row: row.astype(str).str.contains("Alice").any(), axis=1) #Check if "Alice" exists anywhere:
result = df[mask]
print(result)

Empty DataFrame
Columns: [ID, Name, Age, Department, Salary, Experience, Joining_Date, Performance_Score]
Index: []

In [3]:
#Case-insensitive search
mask = df.apply(lambda row: row.astype(str).str.contains("finance", case=False).any(), axis=1)
result = df[mask]
print(result)

        ID         Name  Age Department  Salary  Experience Joining_Date  \
0        1     Person_1   53    Finance  116904           5   2010-01-01
2        3     Person_3   42    Finance   74951           5   2010-01-03
15      16    Person_16   30    Finance   89978           2   2010-01-16
17      18    Person_18   26    Finance   91279           7   2010-01-18
18      19    Person_19   27    Finance  104715          27   2010-01-19
...    ...          ...  ...        ...     ...         ...          ...
2957  2958  Person_2958   32    Finance   86218           3   2018-02-05
2976  2977  Person_2977   36    Finance   68224          23   2018-02-24
2982  2983  Person_2983   37    Finance   67340          13   2018-03-02
2986  2987  Person_2987   32    Finance   69582          15   2018-03-06
2991  2992  Person_2992   40    Finance   67386          10   2018-03-11

      Performance_Score
0                     8
2                     9
15                    6
17                    5
18                    7
...                 ...
2957                  5
2976                  6
2982                  3
2986                  8
2991                  6

[613 rows x 8 columns]

In [4]:
#Search for numeric values
result = df[df["Salary"] > 100000]
print(result)

        ID         Name  Age Department  Salary  Experience Joining_Date  \
0        1     Person_1   53    Finance  116904           5   2010-01-01
1        2     Person_2   26         IT  107729           6   2010-01-02
4        5     Person_5   44      Sales  107648           7   2010-01-05
16      17    Person_17   34         HR  103066          23   2010-01-17
18      19    Person_19   27    Finance  104715          27   2010-01-19
...    ...          ...  ...        ...     ...         ...          ...
2978  2979  Person_2979   36  Marketing  113207           3   2018-02-26
2979  2980  Person_2980   28         HR  105780          19   2018-02-27
2985  2986  Person_2986   59         HR  108583          14   2018-03-05
2989  2990  Person_2990   45      Sales  109633          24   2018-03-09
2995  2996  Person_2996   51         HR  107438          11   2018-03-15

      Performance_Score
0                     8
1                     6
4                     3
16                    7
18                    7
...                 ...
2978                  1
2979                  4
2985                  7
2989                  3
2995                  6

[685 rows x 8 columns]

## HANDLING JSON
### 1. Write the output of Python code into JSON

In [7]:
import json

# Example Python dictionary
data = {"Name": "Alice", "Age": 30, "Department": "IT"}

# Write to JSON file
with open("output.json", "w") as f:
    json.dump(data, f, indent=4)
    print("Successfully written")

Successfully written

### 2. Parse a JSON file

In [8]:
with open("data_json.json", "r") as f:
    parsed_data = json.load(f)

print(parsed_data["company"])       # Access company name
print(parsed_data["employees"][0])  # First employee record

TechCorp
{'id': 1, 'name': 'Victor_1', 'department': 'Marketing', 'salary': 102947, 'experience': 11, 'performance_score': 1}

### 3. Search for a value in JSON

In [10]:
with open("data_json.json", "r") as f:
    parsed_data = json.load(f)

results = [emp for emp in parsed_data["employees"] if emp["department"] == "IT"] #Find employees in the "IT" department.

print("Employees in IT Department:")
for emp in results:
    print(emp)

Employees in IT Department:
{'id': 8, 'name': 'Sara_8', 'department': 'IT', 'salary': 129373, 'experience': 13, 'performance_score': 8}
{'id': 12, 'name': 'Grace_12', 'department': 'IT', 'salary': 64495, 'experience': 18, 'performance_score': 3}
{'id': 18, 'name': 'Mona_18', 'department': 'IT', 'salary': 54717, 'experience': 6, 'performance_score': 5}
{'id': 26, 'name': 'Frank_26', 'department': 'IT', 'salary': 118132, 'experience': 8, 'performance_score': 6}
{'id': 30, 'name': 'Xander_30', 'department': 'IT', 'salary': 110498, 'experience': 9, 'performance_score': 1}
{'id': 35, 'name': 'Uma_35', 'department': 'IT', 'salary': 67358, 'experience': 19, 'performance_score': 1}
{'id': 40, 'name': 'Sara_40', 'department': 'IT', 'salary': 115670, 'experience': 15, 'performance_score': 2}
{'id': 54, 'name': 'Charlie_54', 'department': 'IT', 'salary': 70604, 'experience': 5, 'performance_score': 5}
{'id': 56, 'name': 'Tom_56', 'department': 'IT', 'salary': 47839, 'experience': 19, 'performance_score': 10}
{'id': 74, 'name': 'Xander_74', 'department': 'IT', 'salary': 41068, 'experience': 8, 'performance_score': 4}
{'id': 75, 'name': 'Frank_75', 'department': 'IT', 'salary': 129486, 'experience': 4, 'performance_score': 7}
{'id': 77, 'name': 'Ivy_77', 'department': 'IT', 'salary': 106461, 'experience': 11, 'performance_score': 10}
{'id': 97, 'name': 'Kathy_97', 'department': 'IT', 'salary': 119268, 'experience': 14, 'performance_score': 3}
{'id': 101, 'name': 'Zane_101', 'department': 'IT', 'salary': 105539, 'experience': 15, 'performance_score': 9}
{'id': 111, 'name': 'Eve_111', 'department': 'IT', 'salary': 109208, 'experience': 5, 'performance_score': 2}
{'id': 112, 'name': 'Eve_112', 'department': 'IT', 'salary': 57465, 'experience': 18, 'performance_score': 10}
{'id': 114, 'name': 'Sara_114', 'department': 'IT', 'salary': 90671, 'experience': 16, 'performance_score': 9}
{'id': 116, 'name': 'Oscar_116', 'department': 'IT', 'salary': 127350, 'experience': 17, 'performance_score': 9}
{'id': 122, 'name': 'Charlie_122', 'department': 'IT', 'salary': 93632, 'experience': 6, 'performance_score': 10}
{'id': 125, 'name': 'Grace_125', 'department': 'IT', 'salary': 116112, 'experience': 9, 'performance_score': 2}
{'id': 130, 'name': 'Grace_130', 'department': 'IT', 'salary': 111485, 'experience': 13, 'performance_score': 3}
{'id': 136, 'name': 'Ivy_136', 'department': 'IT', 'salary': 52284, 'experience': 12, 'performance_score': 4}
{'id': 139, 'name': 'Frank_139', 'department': 'IT', 'salary': 90054, 'experience': 12, 'performance_score': 9}
{'id': 140, 'name': 'Tom_140', 'department': 'IT', 'salary': 124746, 'experience': 2, 'performance_score': 6}
{'id': 148, 'name': 'Bob_148', 'department': 'IT', 'salary': 102401, 'experience': 12, 'performance_score': 9}
{'id': 153, 'name': 'Victor_153', 'department': 'IT', 'salary': 127731, 'experience': 8, 'performance_score': 3}
{'id': 157, 'name': 'Wendy_157', 'department': 'IT', 'salary': 99386, 'experience': 14, 'performance_score': 3}
{'id': 179, 'name': 'Paul_179', 'department': 'IT', 'salary': 120619, 'experience': 2, 'performance_score': 1}
{'id': 195, 'name': 'Bob_195', 'department': 'IT', 'salary': 41579, 'experience': 6, 'performance_score': 7}

### 4. Read JSON in Python

In [12]:
import json

# Read the JSON file
with open("data_json.json", "r") as f:
    data = json.load(f)

# Show basic details
print("Company:", data["company"])
print("Location:", data["location"])
print("Total employees:", len(data["employees"]))

# Show first 3 employees
for emp in data["employees"][:3]:
    print(emp)

Company: TechCorp
Location: India
Total employees: 200
{'id': 1, 'name': 'Victor_1', 'department': 'Marketing', 'salary': 102947, 'experience': 11, 'performance_score': 1}
{'id': 2, 'name': 'Yara_2', 'department': 'Support', 'salary': 89411, 'experience': 12, 'performance_score': 1}
{'id': 3, 'name': 'Leo_3', 'department': 'HR', 'salary': 126796, 'experience': 9, 'performance_score': 3}