### Lab-17 - ADVANCE PYTHON PROGRAMMING
### G Reena Sri
### 22MID0009- DATAFRAMES

## Program 1: Creating DataFrames (different ways)

In [1]:
# Program 1: Creating DataFrames (different ways)
import pandas as pd  # Import pandas library.
import numpy as np  # Import numpy library.

# ------------------------------------------
# 1. From dictionary of lists
# ------------------------------------------
data1 = {"Student": ["Leo", "Mia", "Zoe"],  # dictionary keys and values.
         "Years": [21, 25, 29],
         "Rating": [95, 80, 75]}
df1 = pd.DataFrame(data1)  # Creates DataFrame from dictionary.
print("DataFrame from dictionary of lists:\n", df1, "\n") # Prints the DataFrame.

# ------------------------------------------
# 2. From dictionary of Series
# ------------------------------------------
data2 = {"English": pd.Series([78, 85, 91], index=["Leo", "Mia", "Zoe"]),  # keys and values.
         "History": pd.Series([84, 89, 72], index=["Leo", "Mia", "Zoe"])}
df2 = pd.DataFrame(data2)  # Creates DataFrame from dictionary of Series.
print("DataFrame from dictionary of Series:\n", df2, "\n") # Prints the new DataFrame.

# ------------------------------------------
# 3. From NumPy array
# ------------------------------------------
df3 = pd.DataFrame(np.random.randint(10, 50, size=(3, 3)), # Generates new random data.
                   columns=["DataA", "DataB", "DataC"])  # column names.
print("DataFrame from NumPy array:\n", df3, "\n") # Prints the new DataFrame.

DataFrame from dictionary of lists:
   Student  Years  Rating
0     Leo     21      95
1     Mia     25      80
2     Zoe     29      75

DataFrame from dictionary of Series:
      English  History
Leo       78       84
Mia       85       89
Zoe       91       72

DataFrame from NumPy array:
    DataA  DataB  DataC
0     33     26     29
1     32     14     32
2     37     29     39

### Program 2: Accessing rows and columns

In [2]:
# Program 2: Accessing rows and columns
import pandas as pd # Imports pandas library.

data = {"Student": ["Leo", "Mia", "Zoe", "Kai"], # keys and values.
        "Years": [21, 25, 29, 23],
        "Rating": [95, 80, 75, 98]}
df = pd.DataFrame(data) # Creates DataFrame from dictionary.

print("Original DataFrame:\n", df, "\n") # Prints the original DataFrame.

# Access single column
print("Accessing single column (Rating):\n", df["Rating"], "\n") # Accesses a single column.

# Access multiple columns
print("Accessing multiple columns:\n", df[["Student", "Years"]], "\n") # Accesses multiple columns.

# Access row by index label
print("Access row using loc:\n", df.loc[1], "\n") # Accesses a row by label.

# Access row by integer location
print("Access row using iloc:\n", df.iloc[2], "\n") # Accesses a row by position.

Original DataFrame:
   Student  Years  Rating
0     Leo     21      95
1     Mia     25      80
2     Zoe     29      75
3     Kai     23      98

Accessing single column (Rating):
 0    95
1    80
2    75
3    98
Name: Rating, dtype: int64

Accessing multiple columns:
   Student  Years
0     Leo     21
1     Mia     25
2     Zoe     29
3     Kai     23

Access row using loc:
 Student    Mia
Years       25
Rating      80
Name: 1, dtype: object

Access row using iloc:
 Student    Zoe
Years       29
Rating      75
Name: 2, dtype: object

### Program 3: Indexing and Slicing

In [4]:
# Program 3: Indexing and Slicing
import pandas as pd  # Import pandas library.

data = {"Student": ["Liam", "Olivia", "Noah", "Emma", "Ava"],  # dictionary data.
        "Years": [21, 25, 29, 23, 27],
        "Rating": [95, 80, 75, 98, 85]}
df = pd.DataFrame(data)  # Create DataFrame from dictionary.

print("Original DataFrame:\n", df, "\n") # Print the DataFrame.

# Slicing rows
print("First four rows:\n", df[:4], "\n") # Slice the first four rows.

# Slicing specific rows using loc
print("Rows 0 to 2:\n", df.loc[0:2], "\n") # Slice rows by label.

# Slicing specific columns
print("Columns Student and Rating:\n", df.loc[:, ["Student", "Rating"]], "\n") # Slice specific columns.

# Conditional selection
print("Rows where Rating > 90:\n", df[df["Rating"] > 90], "\n") # Select rows based on condition.

Original DataFrame:
   Student  Years  Rating
0    Liam     21      95
1  Olivia     25      80
2    Noah     29      75
3    Emma     23      98
4     Ava     27      85

First four rows:
   Student  Years  Rating
0    Liam     21      95
1  Olivia     25      80
2    Noah     29      75
3    Emma     23      98

Rows 0 to 2:
   Student  Years  Rating
0    Liam     21      95
1  Olivia     25      80
2    Noah     29      75

Columns Student and Rating:
   Student  Rating
0    Liam      95
1  Olivia      80
2    Noah      75
3    Emma      98
4     Ava      85

Rows where Rating > 90:
   Student  Years  Rating
0    Liam     21      95
3    Emma     23      98

### Program 4: Adding, Updating, and Deleting Data

In [5]:
# Program 4: Adding, Updating, and Deleting Data
import pandas as pd  # Imports the pandas library.

df = pd.DataFrame({"Student": ["Liam", "Olivia", "Noah"],  # dictionary data.
                   "Years": [21, 25, 29]})
print("Original DataFrame:\n", df, "\n")  # Prints the DataFrame.

# Adding new column
df["Rating"] = [95, 80, 75]  # Added a new column with data.
print("After adding Rating column:\n", df, "\n") # Prints the updated DataFrame.

# Updating values
df.at[1, "Years"] = 26  # Updates a specific value.
print("After updating years for Olivia:\n", df, "\n") # Prints the updated DataFrame.

# Deleting column
df = df.drop("Rating", axis=1) # Deletes a column.
print("After deleting Rating column:\n", df, "\n") # Prints the DataFrame without the column.

# Deleting row
df = df.drop(1, axis=0) # Deletes a row.
print("After deleting row with index 1:\n", df, "\n") # Prints the DataFrame without the row.

Original DataFrame:
   Student  Years
0    Liam     21
1  Olivia     25
2    Noah     29

After adding Rating column:
   Student  Years  Rating
0    Liam     21      95
1  Olivia     25      80
2    Noah     29      75

After updating years for Olivia:
   Student  Years  Rating
0    Liam     21      95
1  Olivia     26      80
2    Noah     29      75

After deleting Rating column:
   Student  Years
0    Liam     21
1  Olivia     26
2    Noah     29

After deleting row with index 1:
   Student  Years
0    Liam     21
2    Noah     29

### Program 5: Handling Missing Data

In [6]:
# Program 5: Handling Missing Data
import pandas as pd  # Imports the pandas library.
import numpy as np  # Imports the numpy library.

df = pd.DataFrame({"Student": ["Liam", "Olivia", "Noah"],  # dictionary data.
                   "Years": [21, np.nan, 29], # column name and data.
                   "Rating": [95, 80, np.nan]}) # column name and data.
print("Original DataFrame with NaN values:\n", df, "\n") # Prints DataFrame with missing values.

# Detect missing values
print("Detect missing values:\n", df.isnull(), "\n") # Detects and shows boolean True/False.

# Fill missing values
print("Fill missing values:\n", df.fillna(0), "\n") # Fills NaN values with zero.

# Drop rows with missing values
print("Drop rows with missing values:\n", df.dropna(), "\n") # Drops any row containing NaN.

Original DataFrame with NaN values:
   Student  Years  Rating
0    Liam   21.0    95.0
1  Olivia    NaN    80.0
2    Noah   29.0     NaN

Detect missing values:
    Student  Years  Rating
0    False  False   False
1    False   True   False
2    False  False    True

Fill missing values:
   Student  Years  Rating
0    Liam   21.0    95.0
1  Olivia    0.0    80.0
2    Noah   29.0     0.0

Drop rows with missing values:
   Student  Years  Rating
0    Liam   21.0    95.0

### Program 6: Data Alignment and Reindexing

In [7]:
# Program 6: Data Alignment and Reindexing
import pandas as pd  # Imports pandas library.

df1 = pd.DataFrame({"Rating": [95, 80, 75]}, index=["Liam", "Olivia", "Noah"])  # data and index.
df2 = pd.DataFrame({"Rating": [88, 92]}, index=["Olivia", "Emma"])  # data and index.

print("DataFrame 1:\n", df1, "\n")  # Prints the first DataFrame.
print("DataFrame 2:\n", df2, "\n")  # Prints the second DataFrame.

# Automatic alignment in arithmetic
print("Adding df1 and df2:\n", df1 + df2, "\n")  # Performs aligned addition.

# Reindexing
df3 = df1.reindex(["Liam", "Olivia", "Noah", "Emma"], fill_value=0) # Reindexes with new index.
print("Reindexed DataFrame:\n", df3, "\n")  # Prints the reindexed DataFrame.

DataFrame 1:
         Rating
Liam        95
Olivia      80
Noah        75

DataFrame 2:
         Rating
Olivia      88
Emma        92

Adding df1 and df2:
         Rating
Emma       NaN
Liam       NaN
Noah       NaN
Olivia   168.0

Reindexed DataFrame:
         Rating
Liam        95
Olivia      80
Noah        75
Emma         0

### Program 7: Sorting and Grouping

In [8]:
# Program 7: Sorting and Grouping
import pandas as pd  # Imports the pandas library.

data = {"Student": ["Liam", "Olivia", "Noah", "Emma", "Ava"],  # dictionary data.
        "Years": [21, 25, 29, 23, 27],
        "Rating": [95, 80, 75, 98, 85]}
df = pd.DataFrame(data)  # Creates DataFrame from dictionary.

print("Original DataFrame:\n", df, "\n") # Prints the new DataFrame.

# Sorting by column
print("Sorted by Rating:\n", df.sort_values(by="Rating"), "\n") # Sorts the DataFrame.

# Grouping data
grouped = df.groupby("Years")["Rating"].mean() # Groups by years and finds mean.
print("Average rating grouped by Years:\n", grouped, "\n") # Prints the grouped Series.

Original DataFrame:
   Student  Years  Rating
0    Liam     21      95
1  Olivia     25      80
2    Noah     29      75
3    Emma     23      98
4     Ava     27      85

Sorted by Rating:
   Student  Years  Rating
2    Noah     29      75
1  Olivia     25      80
4     Ava     27      85
0    Liam     21      95
3    Emma     23      98

Average rating grouped by Years:
 Years
21    95.0
23    98.0
25    80.0
27    85.0
29    75.0
Name: Rating, dtype: float64

### Grouping Example

In [9]:
# Grouping Example
# A. Series
import pandas as pd  # Imports the pandas library.

# Salary series
salary = pd.Series([70000, 75000, 80000, 82000],  # salary values.
                   index=["Liam", "Olivia", "Noah", "Emma"]) # employee names.
# Department for each person
department = pd.Series(["Sales", "Sales", "Marketing", "Marketing"],  # department names.
                       index=["Liam", "Olivia", "Noah", "Emma"]) # employee names.

# Grouping by department (no aggregation yet)
grouped_series = salary.groupby(department)  # Groups salary by department.
print("Grouped Series (just groups, no aggregation):\n", grouped_series, "\n") # Prints the groupby object.

# You can access a group
print("Sales group in Series:\n", grouped_series.get_group("Sales"), "\n") # Accesses the "Sales" group.

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x70c96c6198b0>

Sales group in Series:
 Liam      70000
Olivia    75000
dtype: int64

### Aggregation Example

In [10]:
# Aggregation Example
# A. Series
# Aggregation on grouped Series
# Compute mean salary per department
aggregated_series = grouped_series.mean()  # Computes the mean of each group.
print("Aggregated Series (mean salary per department):\n", aggregated_series, "\n")  # Prints the new aggregated Series.

# Other aggregations
print("Sum per department:\n", grouped_series.sum(), "\n")  # Computes the sum of each group.
print("Max per department:\n", grouped_series.max(), "\n")  # Finds the maximum value in each group.

Aggregated Series (mean salary per department):
 Marketing    81000.0
Sales        72500.0
dtype: float64

Sum per department:
 Marketing    162000
Sales        145000
dtype: int64

Max per department:
 Marketing    82000
Sales        75000
dtype: int64

### Example: Grouping and Aggregating for Series / MultiLevel Series

In [11]:
#Example: Grouping and Aggregating for Series / MultiLevel Series
import pandas as pd  # Imports the pandas library.

# Single Series
salary = pd.Series([70000, 75000, 80000, 82000], # salary values.
                   index=["Liam", "Olivia", "Noah", "Emma"]) # employee names.
department = pd.Series(["Sales", "Sales", "Marketing", "Marketing"], # department names.
                       index=["Liam", "Olivia", "Noah", "Emma"]) # employee names.

# Grouping salaries by department and calculating mean
grouped_series = salary.groupby(department).mean() # Groups by department, calculates mean.
print("Mean salary by department (Series):\n", grouped_series, "\n") # Prints the aggregated series.

# MultiLevel Series
arrays = [
    ["Sales", "Sales", "Marketing", "Marketing"], # first-level labels.
    ["Liam", "Olivia", "Noah", "Emma"] # second-level labels.
]
index = pd.MultiIndex.from_arrays(arrays, names=("Dept", "Employee")) # index names.
multi_s = pd.Series([70000, 75000, 80000, 82000], index=index) # data values.

# Group by first level (Dept)
grouped_multi = multi_s.groupby(level=0).mean() # Groups by the first index level.
print("Mean salary by department (MultiLevel Series):\n", grouped_multi, "\n") # Prints the aggregated multi-level series.

Mean salary by department (Series):
 Marketing    81000.0
Sales        72500.0
dtype: float64

Mean salary by department (MultiLevel Series):
 Dept
Marketing    81000.0
Sales        72500.0
dtype: float64

### Grouping (DataFrame)

In [12]:
# Grouping (DataFrame)
import pandas as pd  # Imports the pandas library.

# DataFrame
df = pd.DataFrame({
    "Department": ["Sales", "Sales", "Marketing", "Marketing"],  # department names.
    "Employee": ["Liam", "Olivia", "Noah", "Emma"],  # employee names.
    "Salary": [70000, 75000, 80000, 82000]  # salary values.
})

# Grouping by Department
grouped_df = df.groupby("Department")  # Groups the DataFrame by the 'Department' column.
print("Grouped DataFrame (just groups, no aggregation):\n", grouped_df, "\n") # Prints the groupby object.

# Accessing one group
print("Sales group in DataFrame:\n", grouped_df.get_group("Sales"), "\n") # Retrieves the 'Sales' group.

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x70c9b33cc110>

Sales group in DataFrame:
   Department Employee  Salary
0      Sales     Liam   70000
1      Sales   Olivia   75000

# Aggregating DataFrame 
# Aggregation on grouped DataFrame

In [13]:
# Compute mean salary per department
aggregated_df = grouped_df["Salary"].mean() # Computes mean of 'Salary' for each group.
print("Aggregated DataFrame (mean salary per department):\n", aggregated_df, "\n") # Prints the aggregated DataFrame.

# Multiple aggregations on DataFrame
multi_agg_df = grouped_df.agg({
    "Salary": ["mean", "sum", "max"] # Calculates mean, sum, and max for 'Salary'.
})
print("Aggregated DataFrame (multiple stats):\n", multi_agg_df, "\n") # Prints DataFrame with multiple aggregations.

Aggregated DataFrame (mean salary per department):
 Department
Marketing    81000.0
Sales        72500.0
Name: Salary, dtype: float64

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
Marketing   81000.0  162000  82000
Sales       72500.0  145000  75000

### performing functions

In [14]:
import pandas as pd  # Import the pandas library.

# ------------------------------------------
# Sample DataFrame
# ------------------------------------------
df = pd.DataFrame({
    "Team": ["A", "A", "B", "B", "A", "B"], # column name and values.
    "Member": ["Liam", "Olivia", "Noah", "Emma", "Ava", "Sophia"], # employee names.
    "Score": [90, 85, 88, 92, 91, 87], # column name and values.
    "Penalty": [10, 5, 8, 12, 7, 9] # column name and values.
})

print("Original DataFrame:\n", df, "\n") # Print the original DataFrame.

# ------------------------------------------
# Grouping by Team (no aggregation yet)
# ------------------------------------------
grouped = df.groupby("Team") # Group the DataFrame by 'Team'.
print("Groups formed:\n", grouped.groups, "\n") # Show the group indices.

# Access a specific group
print("Team A group:\n", grouped.get_group("A"), "\n") # Accesses group "A".

# ------------------------------------------
# Aggregating after grouping
# ------------------------------------------
# 1. Single aggregation function (mean score)
mean_score = grouped["Score"].mean() # Calculate the mean score per team.
print("Mean Score per Team:\n", mean_score, "\n") # Print the mean score result.

# 2. Multiple aggregation functions
agg_stats = grouped.agg({
    "Score": ["mean", "max", "min"], # Get mean, max, and min score.
    "Penalty": ["sum", "mean"] # Get sum and mean of penalty.
})
print("Aggregated stats per Team:\n", agg_stats, "\n") # Print multiple aggregated stats.

# ------------------------------------------
# Optional: filtering groups (e.g., mean score > 88)
# ------------------------------------------
high_score_team = grouped.filter(lambda x: x["Score"].mean() > 88) # Filters groups based on condition.
print("Teams with mean score > 88:\n", high_score_team, "\n") # Print filtered DataFrame.

Original DataFrame:
   Team  Member  Score  Penalty
0    A    Liam     90       10
1    A  Olivia     85        5
2    B    Noah     88        8
3    B    Emma     92       12
4    A     Ava     91        7
5    B  Sophia     87        9

Groups formed:
 {'A': [0, 1, 4], 'B': [2, 3, 5]}

Team A group:
   Team  Member  Score  Penalty
0    A    Liam     90       10
1    A  Olivia     85        5
4    A     Ava     91        7

Mean Score per Team:
 Team
A    88.666667
B    89.000000
Name: Score, dtype: float64

Aggregated stats per Team:
           Score         Penalty
           mean max min     sum      mean
Team
A     88.666667  91  85      22  7.333333
B     89.000000  92  87      29  9.666667

Teams with mean score > 88:
   Team  Member  Score  Penalty
0    A    Liam     90       10
1    A  Olivia     85        5
2    B    Noah     88        8
3    B    Emma     92       12
4    A     Ava     91        7
5    B  Sophia     87        9

#### Difference between grouping/ aggregating in series and dataframes 
#### In grouping, a Series can be grouped only by another Series or index level, while a DataFrame can be grouped by one or more columns.

#### Series aggregation operates on a single column and returns a Series, whereas DataFrame aggregation can operate on multiple columns and return a DataFrame.

#### Series is simpler and suitable for single-column data, while DataFrame is more powerful for handling complex, multi-column datasets.

# Series

In [15]:
# Series
import pandas as pd # Import pandas library.

salary = pd.Series([70000, 75000, 80000, 82000], index=["Liam", "Olivia", "Noah", "Emma"]) # salary data and index.
department = pd.Series(["Sales", "Sales", "Marketing", "Marketing"], index=["Liam", "Olivia", "Noah", "Emma"]) # department data and index.

grouped_series = salary.groupby(department) # Group salary by department.

In [19]:
print(list(grouped_series))

[('Marketing', Noah    80000
Emma    82000
dtype: int64), ('Sales', Liam      70000
Olivia    75000
dtype: int64)]

# dataframes

In [17]:
# data frames
import pandas as pd  # Import the pandas library.

df = pd.DataFrame({
    "Team": ["Sales", "Sales", "Marketing", "Marketing"],  # column name and values.
    "Member": ["Liam", "Olivia", "Noah", "Emma"],  # employee names.
    "Pay": [70000, 75000, 80000, 82000]  # column name and values.
})

grouped_df = df.groupby("Team")  # Groups the DataFrame by the 'Team' column.

In [20]:
print(list(grouped_df)) # only grouped_df prints object

[('Marketing',         Team Member    Pay
2  Marketing   Noah  80000
3  Marketing   Emma  82000), ('Sales',     Team  Member    Pay
0  Sales    Liam  70000
1  Sales  Olivia  75000)]

# series , dataframe eg with grping and aggregrating functions

In [21]:
import pandas as pd  # Import the pandas library.

# ------------------------------------------
# 1. Series Example
# ------------------------------------------
salary_series = pd.Series([70000, 75000, 80000, 82000],  #salary values.
                          index=["Liam", "Olivia", "Noah", "Emma"])  # index labels.
department_series = pd.Series(["Sales", "Sales", "Marketing", "Marketing"],  # department names.
                              index=["Liam", "Olivia", "Noah", "Emma"])  # index labels.

# Grouping (creates groups, no aggregation yet)
grouped_series = salary_series.groupby(department_series)  # Groups salaries by department.
print("Grouped Series (no aggregation):")  # Print a descriptive header.
for dept, group in grouped_series:  # Iterate through the groups.
    print(f"{dept}: {group.values}")  # Print the department and its values.
print()  # Print a blank line for spacing.

# Aggregating (mean per department)
aggregated_series = grouped_series.mean()  # Calculate the mean for each group.
print("Aggregated Series (mean salary per department):")  # Print a descriptive header.
print(aggregated_series)  # Print the new aggregated Series.
print("\n" + "="*50 + "\n")  # Print a separator.

# ------------------------------------------
# 2. DataFrame Example
# ------------------------------------------
df = pd.DataFrame({
    "Team": ["Sales", "Sales", "Marketing", "Marketing"],  
    "Member": ["Liam", "Olivia", "Noah", "Emma"],  # creating a dataframe
    "Salary": [70000, 75000, 80000, 82000],  
    "Bonus": [7000, 7500, 8000, 8200] 
})

# Grouping by Team (creates groups)
grouped_df = df.groupby("Team")  # Groups the DataFrame by the 'Team' column.
print("Grouped DataFrame (no aggregation):")  # Print a descriptive header.
for team, group in grouped_df:  # Iterate through the groups.
    print(f"{team} group:\n{group}\n")  # Print each group's DataFrame.

# Aggregating (mean and sum for numeric columns)
aggregated_df = grouped_df.agg({
    "Salary": ["mean", "sum"],  # Calculate mean and sum of 'Salary'.
    "Bonus": ["mean", "sum"]  # Calculate mean and sum of 'Bonus'.
})
print("Aggregated DataFrame (Salary and Bonus stats per Team):")  # Print a descriptive header.
print(aggregated_df)  # Print the aggregated DataFrame.

Grouped Series (no aggregation):
Marketing: [80000 82000]
Sales: [70000 75000]

Aggregated Series (mean salary per department):
Marketing    81000.0
Sales        72500.0
dtype: float64

==================================================

Grouped DataFrame (no aggregation):
Marketing group:
        Team Member  Salary  Bonus
2  Marketing   Noah   80000   8000
3  Marketing   Emma   82000   8200

Sales group:
    Team  Member  Salary  Bonus
0  Sales    Liam   70000   7000
1  Sales  Olivia   75000   7500

Aggregated DataFrame (Salary and Bonus stats per Team):
            Salary           Bonus
              mean     sum    mean    sum
Team
Marketing  81000.0  162000  8100.0  16200
Sales      72500.0  145000  7250.0  14500

### Merging dataframes

In [22]:
# Merging DataFrames
import pandas as pd  # Import the pandas library.

# DataFrame 1
df1 = pd.DataFrame({
    "Member": ["Liam", "Olivia", "Noah", "Emma"],  
    "Team": ["A", "B", "A", "B"] 
})

# DataFrame 2
df2 = pd.DataFrame({
    "Member": ["Liam", "Olivia", "Noah", "Sophia"],  
    "Score": [90, 85, 88, 92]  
})

# Inner merge (only common members)
inner_merge = pd.merge(df1, df2, on="Member", how="inner")  # Merge on 'Member', keeping common.
print("Inner Merge:\n", inner_merge, "\n")  # Print the result of inner merge.

# Outer merge (all members)
outer_merge = pd.merge(df1, df2, on="Member", how="outer")  # Merge on 'Member', keeping all.
print("Outer Merge:\n", outer_merge, "\n")  # Print the result of outer merge.

Inner Merge:
    Member Team  Score
0    Liam    A     90
1  Olivia    B     85
2    Noah    A     88

Outer Merge:
    Member Team  Score
0    Emma    B    NaN
1    Liam    A   90.0
2    Noah    A   88.0
3  Olivia    B   85.0
4  Sophia  NaN   92.0

# Merging on different key columns

In [23]:
# You can merge two DataFrames using different column names in each DataFrame by using left_on and right_on.

import pandas as pd  # Import the pandas library.

df1 = pd.DataFrame({ # dataframe 1
    "UserID": [101, 102, 103],  
    "Name": ["Liam", "Olivia", "Noah"] 
})

df2 = pd.DataFrame({ #dataframe 2
    "AccountID": [102, 103, 104], 
    "Score": [90, 85, 88]  # 
})

# Merge using different column names
merged_df = pd.merge(df1, df2, left_on="UserID", right_on="AccountID", how="inner")  # Merges on different key columns.
print("Merge on different keys:\n", merged_df)  # Prints the merged DataFrame.

Merge on different keys:
    UserID    Name  AccountID  Score
0     102  Olivia        102     90
1     103    Noah        103     85

### Handling overlapping column names

In [24]:
# If both DataFrames have columns with the same name other than the key, Pandas automatically adds suffixes: _x and _y.

# You can customize suffixes using the suffixes parameter.

import pandas as pd  # Import the pandas library.

df1 = pd.DataFrame({ # dataframe 1
    "Member": ["Liam", "Olivia"], 
    "Score": [90, 85] 
})

df2 = pd.DataFrame({ #dataframe 2
    "Member": ["Olivia", "Noah"],  
    "Score": [88, 92]  
})

# Merge with custom suffixes
merged_df = pd.merge(df1, df2, on="Member", how="outer", suffixes=("_Test1", "_Test2"))  # Merges with custom suffixes.
print("Merge with custom suffixes:\n", merged_df)  # Prints the merged DataFrame.

Merge with custom suffixes:
    Member  Score_Test1  Score_Test2
0    Liam         90.0          NaN
1    Noah          NaN         92.0
2  Olivia         85.0         88.0

### Merging using indexes

In [1]:
import pandas as pd  # Import pandas library
#Instead of merging on columns, you can merge using the row index with left_index=True and right_index=True.
# Create df1 with names as index
df1 = pd.DataFrame({"Salary": [70000, 80000]}, index=["Carol", "Dave"])

# Create df2 with names as index
df2 = pd.DataFrame({"Department": ["Finance", "Marketing"]}, index=["Carol", "Dave"])

# Merge both DataFrames using row indexes
merged_index_df = pd.merge(df1, df2, left_index=True, right_index=True)

# Print merged DataFrame with index merge
print("Merge using indexes:\n", merged_index_df)

Merge using indexes:
        Salary Department
Carol   70000    Finance
Dave    80000  Marketing

#Summary table
df.pivot_table(values='NumericColumn', index='RowCategory', columns='ColumnCategory', aggfunc='mean')
values → numeric column to summarize

index → row labels

columns → column labels (optional)

aggfunc → aggregation function (mean, sum, count, etc.)

### #Summary Tables

In [2]:
import pandas as pd  # Import pandas library

# Create DataFrame with departments, teams, salaries
df = pd.DataFrame({
    "Department": ["Finance", "Finance", "Sales", "Sales"],  # Department column
    "Team": ["X", "Y", "X", "Y"],  # Team column
    "Salary": [70000, 75000, 80000, 82000]  # Salary column
})

# Create summary pivot table by department and team
summary = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")

# Print summary table
print(summary)

Team              X        Y
Department
Finance     70000.0  75000.0
Sales       80000.0  82000.0

### Pivot Table with Multiple Aggregation Functions

#You can apply more than one aggregation function at once using a list:

In [3]:
import pandas as pd  # Import pandas library

# Create DataFrame with departments, teams, salaries
df = pd.DataFrame({
    "Department": ["Finance", "Finance", "Sales", "Sales"],  # Department column
    "Team": ["X", "Y", "X", "Y"],  # Team column
    "Salary": [72000, 76000, 81000, 83000]  # Salary column
})

# Pivot table with multiple aggregation functions
summary_table_multi = df.pivot_table(
    values="Salary",            # Column to aggregate
    index="Department",         # Rows based on Department
    columns="Team",             # Columns based on Team
    aggfunc=["mean", "sum", "max"]  # Aggregations: mean, sum, max
)

# Print pivot table with multiple aggregations
print("Pivot Table with Multiple Aggregations:\n", summary_table_multi)

Pivot Table with Multiple Aggregations:
                mean             sum           max
Team              X        Y      X      Y      X      Y
Department
Finance     72000.0  76000.0  72000  76000  72000  76000
Sales       81000.0  83000.0  81000  83000  81000  83000

### Handling Missing Data

##### Pivot tables automatically fill missing combinations with NaN

In [4]:
import pandas as pd  # Import pandas library

# Create DataFrame with departments, teams, salaries
df = pd.DataFrame({
    "Department": ["Finance", "Finance", "Sales"],  # Department column
    "Team": ["X", "Y", "X"],  # Team column (missing Sales-Y)
    "Salary": [72000, 76000, 81000]  # Salary column
})

# Pivot table with fill_value for missing cells
summary_table_fill = df.pivot_table(
    values="Salary",       # Column to aggregate
    index="Department",    # Rows based on Department
    columns="Team",        # Columns based on Team
    aggfunc="mean",        # Mean aggregation
    fill_value=0           # Replace missing values with zero
)

# Print pivot table with missing values filled
print("Pivot Table with Missing Values Filled:\n", summary_table_fill)

Pivot Table with Missing Values Filled:
 Team              X        Y
Department
Finance     72000.0  76000.0
Sales       81000.0      0.0